/*
 Desktop (XL screen 1366px ++)
*/
*{
    font-family: 'Open Sans', sans-serif;
    /*font-family: 'Chewy', cursive;*/
}

ul,ol{
    list-style: none;
}

a:visited, a:link, a:focus, a:hover, a:active{
    list-style: none;
    text-decoration: none;
}

/*
 Header style XL
*/
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    background: rgba(0,0,0,.5);
}
header .logotipo{
    width: 45%;
}
.redes ul li i{
   width: 35px;
   line-height: 35px;
   text-align: center;
   cursor: pointer;
}

.redes ul li i.fa-facebook-f{
    background: #1475E0;
}
.redes ul li i.fa-instagram{
    background: #B18768;
}
.redes ul li i.fa-twitter{
    background: #00A6FF;
}
.redes ul li i.fa-youtube{
    background: #F95F62;
}
.redes ul li i.fa-snapchat-ghost{
    background: #FF9052;
}
.fa-bars{
    font-size: 35px;
}

.fa-search, .fa-bars{
    color: white;
}

.redesMovil{
    position: fixed;
    bottom: -10px;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, 0%);
}

/*
Banner style
*/
.fade-slider{
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
}
.bannerEstatico{
    background: rgba(0,0,0,0);
}

/*
Menú style
*/
.menu{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    overflow-x: hidden;
    font-weight: 100;
    display: none;
    font-size: 34px;
    line-height: 70px;
}
.btn-close{
    position: absolute;
    top: 100px;
    right: 25%;
    color: white;
}
.menu .nav{
    margin-top: 10%;
}

/*
Grid categorias style
*/
.grid figure{
    position: relative;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 8px solid white;
    border-right: 8px solid white;
    cursor: pointer;
    transition: 1s all;
}
.grid figure p:hover{
    background: rgba(255, 57, 190, .7);
}
.grid .columna1{
    width: 40%;
}
.grid .photo1{
    height: 400px;
    background: url(../img/suramerica.jpg);
    background-size: cover;
    background-position: left;
}
.grid .photo2{
    height: 300px;
    background: url(../img/africa.jpg);
    background-size: cover;
    background-position: left;
}
.grid .photo3{
    height: 300px;
    background: url(../img/centroamerica.jpg);
    background-size: cover;
    background-position: left;
}
.grid .photo4{
    height: 300px;
    background: url(../img/europa.jpg);
    background-size: cover;
    background-position: left;
}
.grid .photo5{
    height: 400px;
    background: url(../img/norteamerica.jpg);
    background-size: cover;
    background-position: left;
}
.grid .photo6{
    height: 200px;
    background: url(../img/asia.jpg);
    background-size: cover;
    background-position: left;
}
.grid figure p{
    position: absolute;
    left: 0px;
    bottom: -16px;
    width: 100%;
    background: rgba(0,0,0,.7);
    color: white;
    font-weight: 100;
    font-size: 20px;
}
/*
Contenido
*/
.contenidoInicio{
    /*transform: translate(0%,-2%);*/
}
.introArticulo{
    position: relative;
}
.fecha{
    position: absolute;
    right: 10px;
    top: 0px;
    padding: 5px 10px;
    color:#AAA;
    font-size: 14px;
    background: url(../img/globo.jpg);
    background-size: cover;
    background-position: center top;
    height: 40px;
}
.lineaDivisora{
    border: 1px solid #79FF39;
}
.page-item.active .page-link{
    background: #FF39BE;
    color: white;
    border:1px solid #BBB;
}
.page-link{
    color: #777;
}
/*
 Grid footer categorias
*/
footer{
    background: black;
}
.gridFooter figure{
    position: relative;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    border-left: 4px solid white;
    border-right: 4px solid white;
    cursor: pointer;
    transition: 1s all;
}
.gridFooter figure p:hover{
    background: rgba(255, 57, 190, .7);
}
.gridFooter .columna1{
    width: 40%;
}
.gridFooter .photo1{
    height: 200px;
    background: url(../img/suramerica.jpg);
    background-size: cover;
    background-position: left;
}
.gridFooter .photo2{
    height: 100px;
    background: url(../img/africa.jpg);
    background-size: cover;
    background-position: left;
}
.gridFooter .photo3{
    height: 100px;
    background: url(../img/centroamerica.jpg);
    background-size: cover;
    background-position: left;
}
.gridFooter .photo4{
    height: 100px;
    background: url(../img/europa.jpg);
    background-size: cover;
    background-position: left;
}
.gridFooter .photo5{
    height: 200px;
    background: url(../img/norteamerica.jpg);
    background-size: cover;
    background-position: left;
}
.gridFooter figure p{
    position: absolute;
    left: 0px;
    bottom: -16px;
    width: 100%;
    background: rgba(0,0,0,.7);
    color: white;
    font-weight: 100;
    font-size: 15px;
}
/*
Scroll up
*/
#scrollUp{
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: url(../img/flecha.jpg);
}
/*
Preload
*/
#preload{
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: #333;
}
#porcentajeCarga{
    position: absolute;
    text-align: center;
    width: 100%;
    color: white;
    top: 52%;
    font-size: 20px;
    font-weight: 100;
}
#lineaCarga{
    position: absolute;
    width: 100%;
    height: 2px;
    top:50%;
    left: 0%;
    background: #666;
}
#rellenoCarga{
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background: #999;
}
#estadoCarga{
    position: absolute;
    background: url(../img/loader.gif);
    background-position: center;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
}
/*
 Tablet horizontal (LG screen 1024px)
*/
@media (max-width:1199px) and (min-width:992px){
    .menu .nav{
        margin-top: 15%;
    }
}

/*
 Table vertical (MD screen 768px)
*/
@media (max-width:991px) and (min-width:768px){
    header .logotipo{
        width: 55%;
    }
    .btn-close{
        right: 15%;
        top: 70px;
    }
    .menu .nav{
        margin-top: 20%;
    }
    .grid .photo1{
        height: 300px;
    }
    .grid .photo2{
        height: 200px;
    }
    .grid .photo3{
        height: 200px;
    }
    .grid .photo4{
        height: 200px;
    }
    .grid .photo5{
        height: 300px;
    }
    .grid figure p{
        font-size: 18px;
    }
    .fecha{
        top: -343px;
    }
    .gridFooter figure{
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        border-left: 2px solid white;
        border-right: 2px solid white;
    }
    .gridFooter figure p{
        font-size: 12px;
    }
}

/*
 Móvil horizontal (sm screen 576px)
*/
@media (max-width:767px) and (min-width:576px){
     header .logotipo{
        width: 65%;
    }
    .fade-slider{
        height: 72px;
    }
    .btn-close{
        left: 15%;
        top: 50px;
    }
    .menu .nav{
        margin-top: 25%;
    }
    .grid .columna1{
        width: 50%;
    }
    .grid .photo1{
        height: 200px;
    }
    .grid .photo2{
        height: 200px;
    }
    .grid .photo3{
        height: 200px;
    }
    .grid .photo4{
        height: 200px;
    }
    .grid .photo5{
        height: 200px;
    }
    .grid figure p{
        font-size: 16px;
    }
    .fecha{
        top: -377px;
    }
}

/*
 Móvil vertical (screen 320)
*/
@media (max-width:575px){
    header .logotipo{
        width: 100%;
    }
    .fade-slider{
        height: 54px;
    }
    .btn-close{
        left: 5%;
        top: 10px;
    }
    .menu .nav{
        margin-top: 25%;
        font-size: 20px;
        line-height: 40px;
    }
    .grid .columna1{
        width: 50%;
    }
    .grid .photo1{
        height: 120px;
    }
    .grid .photo2{
        height: 120px;
    }
    .grid .photo3{
        height: 120px;
    }
    .grid .photo4{
        height: 120px;
    }
    .grid .photo5{
        height: 120px;
    }
    .grid .photo6{
        height: 120px;
    }
    .grid figure p{
        font-size: 14px;
    }
    .fecha{
        top: -227px;
        font-size: 12px;
        height: 35px;
    }
}